@font-face {
	font-family: 'Netflix Sans';
	src: url('../fonts/NetflixSans-Regular.woff2') format('woff2'),
}

:root {
	--primary: #e50914;
	--secondary: #141414;
	--tertiary: #fff;
	--border-color: #232323;
}

body {
	background-color: var(--secondary);
	font-family: 'Netflix Sans', sans-serif;
}

.subtitle {
	color: #fff;
	margin-left: 3rem;
}

.movie-popover-container {
	border-radius: 0.5rem;
	color: var(--tertiary);
	position: fixed;
	z-index: 9999;
}
